body{background-color:#f1f1f1;}
h4{
    padding: 0.5rem;
    font-size: 0.7rem;

    font-weight: normal;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom:0.5rem;
}

.list-wrap{
    margin-bottom: 0.1rem;
}

.app-list {
    overflow: hidden;
    padding:0 0.6rem;
 }
.app-list li {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-right: 0.30rem;
    margin-bottom: 0.45rem;

}

.app-list li:nth-child(2n){
    padding-right:0;
	padding-left:0.30rem;
}


.app-list li .app-wrap{
    background: #ffffff;
    min-height: 140px;
    height: 2.0rem;
    font-size: 0.35rem;
    padding-top:25px;
    text-align: center;
	border-radius:5px;
}
.app-list li .instruction{
   color:#b1b1b1;
   text-align:center;
   margin-top:8px;
}
.app-list li .app-wrap:hover{
    background: #ff6600;
    border-color: #ff6600;
    color: #fff !important;
}

.app-list li .app-wrap:hover .iconfont{
    color: #fff !important;
}

.app-list li .app-wrap a{
    color: #000;
}
.app-list li .app-wrap .fa,.app-list li .app-wrap .iconfont{
    margin-top: 0.2rem;
    margin-bottom: 0.25rem;
    font-size: 2.0rem;
    height: 2.0rem;
    width: 2.0rem;
        line-height: 2.0rem;
    color: #ff6600;
    text-align: center;
}
.app-list li .app-wrap:hover a{
    color: #fff;
}
.app-list li .app-wrap:hover .fa{
    color: #fff;
}


.app-list li .app-wrap span{
    display: block;
    font-size: 0.65rem;
	font-family:"microsoft yahei";
	margin-top:8px;
}
.app {
    position: absolute !important;
    top: 0.375rem !important;
    right: 0.375rem;
}
.titlebar.reverse{
	border-color:#ff6600; 
}
.head-box{
	position: relative;
	padding-top: 10px;
	height: 40px;
	background-color:#048991;
}

.head-box h3{
	color: #fff;
	text-align: center;
}

.head-box h5{
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: 0.55rem;
	bottom: 12px;
	width: 100%;
}
.weui_btn_primary{
	margin-top: 20px;
	background-color: #f45438;
}

.weui_btn_primary:not(.weui_btn_disabled):active {
    background-color: #f45438;
}

.button .bd {
    padding: 0 15px;
}

.button .bd .weui_btn{
    font-size: 0.875rem;
    line-height: 2.125rem;
    height: 2.125rem;
}

.weui_cells{
	margin-top: 0;
}

.weui_cells:before{
	border:0;
}

body>header+article {
    
}

.weui_cell_primary p{
	font-size: 0.7rem;
}

.weui_cell_bd{
	padding: 0 15px;
}

.weui_cell{
	padding: 0 0;
	line-height: 2.5rem;
}

.weui_cell i{
	color: #93929a;
	font-size: 0.8rem;
}