<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldyoung.vita.common.dao.BillDao">

    <resultMap id="baseMap" type="com.baldyoung.vita.common.pojo.entity.BillEntity">
        <id property="billId" column="billId"></id>
        <!--非主键字段的对应-->
        <result property="billNumber" column="billNumber"></result>
        <result property="billOwnerTypeFlag" column="billOwnerTypeFlag"></result>
        <result property="billOwnerId" column="billOwnerId"></result>
        <result property="billOwnerName" column="billOwnerName"></result>
        <result property="billCustomerNumber" column="billCustomerNumber"></result>
        <result property="billCustomerName" column="billCustomerName"></result>
        <result property="billOrderQuantity" column="billOrderQuantity"></result>
        <result property="billTotalAmount" column="billTotalAmount"></result>
        <result property="billReceivedAmount" column="billReceivedAmount"></result>
        <result property="billReceivedDateTime" column="billReceivedDateTime"></result>
        <result property="billRecentHandlerName" column="billRecentHandlerName"></result>
        <result property="billRecentHandlerId" column="billRecentHandlerId"></result>
        <result property="billStartDateTime" column="billStartDateTime"></result>
        <result property="billEndDateTime" column="billEndDateTime"></result>
        <result property="billRemarks" column="billRemarks"></result>
        <result property="updateDateTime" column="updateDateTime"></result>
    </resultMap>

    <sql id="allFiled">
        billId, billNumber, billOwnerTypeFlag, billOwnerId, billOwnerName, billCustomerNumber, billOrderQuantity,
        billTotalAmount, billReceivedAmount, billReceivedDateTime, billRecentHandlerName, billCustomerName,
        billRecentHandlerId, billStartDateTime, billEndDateTime, updateDateTime, billRemarks
    </sql>

    <insert id="insertBillEntity" parameterType="com.baldyoung.vita.common.pojo.entity.BillEntity" >
        INSERT INTO V_Bill(billNumber, billOwnerTypeFlag, billOwnerId, billOwnerName)
        VALUES (#{bill.billNumber}, #{bill.billOwnerTypeFlag}, #{bill.billOwnerId}, #{bill.billOwnerName});
    </insert>

    <select id="selectBill" resultMap="baseMap">
        select
        <include refid="allFiled"></include>
        from V_Bill
        where billNumber = #{billNumber}
    </select>

    <update id="updateBillEntity" >
        update V_Bill
        set billId = billId
        <if test="bill.billCustomerName != null">
            , billCustomerName = #{bill.billCustomerName}
        </if>
        <if test="bill.billCustomerNumber != null">
            , billCustomerNumber = #{bill.billCustomerNumber}
        </if>
        <if test="bill.billTotalAmount != null">
            , billTotalAmount = #{bill.billTotalAmount}
        </if>
        <choose>
            <when test="bill.billId != null">
                where billId = #{bill.billId}
            </when>
            <when test="bill.billNumber != null">
                where billNumber = #{bill.billNumber}
            </when>
            <otherwise>
                where 1 = 2
            </otherwise>
        </choose>
    </update>





</mapper>