<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldyoung.vita.common.dao.CustomerMessageDao">

    <resultMap id="baseMap" type="com.baldyoung.vita.common.pojo.entity.CustomerMessageEntity">
        <id property="customerMessageId" column="customerMessageId"></id>
        <!--非主键字段的对应-->
        <result property="diningRoomId" column="diningRoomId"></result>
        <result property="customerMessageTypeId" column="customerMessageTypeId"></result>
        <result property="customerMessageTypeName" column="customerMessageTypeName"></result>
        <result property="customerMessageValue" column="customerMessageValue"></result>
        <result property="customerMessageStatus" column="customerMessageStatus"></result>
        <result property="createDateTime" column="createDateTime"></result>
    </resultMap>

    <sql id="allFiled">
        customerMessageId, diningRoomId, customerMessageTypeId, customerMessageTypeName, customerMessageValue, customerMessageStatus, createDateTime
    </sql>
    
    <select id="selectByDiningRoomId" resultMap="baseMap">
        select 
        <include refid="allFiled"></include>
        from v_customerMessage
        where diningRoomId = #{diningRoomId}
    </select>

    <select id="selectByRecordId" resultMap="baseMap">
        select
        <include refid="allFiled"></include>
        from v_customerMessage
        where customerMessageId = #{recordId}
    </select>
    
    <insert id="insert" >
        insert into v_customerMessage(diningRoomId, customerMessageTypeId, customerMessageTypeName, customerMessageValue, customerMessageStatus)
        values (#{entity.diningRoomId}, #{entity.customerMessageTypeId}, #{entity.customerMessageTypeName}, #{entity.customerMessageValue}, #{entity.customerMessageStatus})
    </insert>
    
    <delete id="deleteByRecordId">
        delete from v_customerMessage
        where customerMessageId = #{recordId}
    </delete>
    
    <update id="update" >
        update v_customerMessage
        set customerMessageId = #{entity.customerMessageId}
        <if test="entity.customerMessageStatus != null">
            customerMessageStatus = #{entity.customerMessageStatus}
        </if>
        where customerMessageId = #{entity.customerMessageId}
    </update>
    
    
    
    




</mapper>