<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldyoung.vita.common.dao.OrderItemDao">

    <resultMap id="baseMap" type="com.baldyoung.vita.common.pojo.entity.OrderItemEntity">
        <id property="orderProductItemId" column="orderProductItemId"></id>
        <!--非主键字段的对应-->
        <result property="orderId" column="orderId"></result>
        <result property="orderProductId" column="orderProductId"></result>
        <result property="orderProductName" column="orderProductName"></result>
        <result property="orderProductImg" column="orderProductImg"></result>
        <result property="orderProductQuantity" column="orderProductQuantity"></result>
        <result property="orderProductPrice" column="orderProductPrice"></result>
        <result property="orderProductRemarks" column="orderProductRemarks"></result>
        <result property="orderProductItemStatusFlag" column="orderProductItemStatusFlag"></result>
        <result property="orderProductItemStatusDesc" column="orderProductItemStatusDesc"></result>
    </resultMap>

    <sql id="allFiled">
        orderId, orderProductItemId, orderProductId, orderProductName, orderProductImg, orderProductQuantity, orderProductPrice, orderProductRemarks, orderProductItemStatusFlag, orderProductItemStatusDesc
    </sql>

    <insert id="insertOrderItemList" parameterType="com.baldyoung.vita.common.pojo.entity.OrderItemEntity" >
        INSERT INTO V_OrderProductItem
        (orderId, orderProductId, orderProductName, orderProductImg, orderProductQuantity, orderProductPrice, orderProductItemStatusFlag,
        orderProductItemStatusDesc, orderProductRemarks)
        VALUES
        <foreach collection="itemList" item="item" index="index" open="" separator=", " close="">
            (#{item.orderId}, #{item.orderProductId}, #{item.orderProductName}, #{item.orderProductImg}, #{item.orderProductQuantity},
            #{item.orderProductPrice}, #{item.orderProductItemStatusFlag}, #{item.orderProductItemStatusDesc}, #{item.orderProductRemarks})
        </foreach>
    </insert>

    <select id="selectOrderItemList" resultMap="baseMap">
        select
        <include refid="allFiled"></include>
        from V_OrderProductItem
        where orderId = #{orderId}
    </select>

    <select id="selectOrderItemListWithOrderIdList" resultMap="baseMap">
        select
        <include refid="allFiled"></include>
        from V_OrderProductItem
        where orderId in
        <foreach collection="orderIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>







</mapper>