<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldyoung.vita.common.dao.ProductAttributeTypeDao">

    <resultMap id="baseMap" type="com.baldyoung.vita.common.pojo.entity.ProductAttributeTypeEntity">
        <id property="productAttributeTypeId" column="productAttributeTypeId"></id>
        <!--非主键字段的对应-->
        <result property="productAttributeTypeName" column="productAttributeTypeName"></result>
    </resultMap>

    <select id="selectAll" resultMap="baseMap">
        select productAttributeTypeId, productAttributeTypeName
        from V_ProductAttributeType
        order by productAttributeTypeId desc
    </select>

    <insert id="insertEntity">
        insert into V_ProductAttributeType(productAttributeTypeName)
        values (#{entity.productAttributeTypeName})
    </insert>

    <delete id="deleteEntity">
        delete from V_ProductAttributeType
        where productAttributeTypeId = #{entityId}
    </delete>



</mapper>