<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldyoung.vita.common.dao.ProductDao">

    <resultMap id="baseMap" type="com.baldyoung.vita.common.pojo.entity.ProductEntity">
        <id property="productId" column="productId"></id>
        <!--非主键字段的对应-->
        <result property="productTypeId" column="productTypeId"></result>
        <result property="productAttributeTypeId" column="productAttributeTypeId"></result>
        <result property="productName" column="productName"></result>
        <result property="productPrice" column="productPrice"></result>
        <result property="productStockFlag" column="productStockFlag"></result>
        <result property="productStock" column="productStock"></result>
        <result property="productSalesVolume" column="productSalesVolume"></result>
        <result property="productIsShow" column="productIsShow"></result>
        <result property="productImgName" column="productImgName"></result>
        <result property="productInfo" column="productInfo"></result>
        <result property="productGrade" column="productGrade"></result>
        <result property="isDelete" column="isDelete"></result>
        <result property="createDateTime" column="createDateTime"></result>
        <result property="updateDateTime" column="updateDateTime"></result>

    </resultMap>


    <select id="selectProduct" resultMap="baseMap">

        SELECT productId, productTypeId, productName, productAttributeTypeId, productPrice, productStockFlag, productStock, productSalesVolume, productIsShow, productImgName, productInfo, productGrade, isDelete, createDateTime, updateDateTime
        FROM V_Product
        where
              isDelete = 0
              <if test="product.productTypeId != null">
                  and productTypeId = #{product.productTypeId}
              </if>
              <if test="product.productIsShow != null">
                  and productIsShow = #{product.productIsShow}
              </if>
            limit #{startIndex}, #{maxSize}
    </select>

    <select id="countProductTargetAmount" resultType="int">
        SELECT count(*)
        FROM V_Product
        where
            isDelete = 0
            <if test="product.productIsShow != null">
                and productIsShow = #{product.productIsShow}
            </if>
            <if test="product.productStock != null">
                AND productStock = #{product.productStock} and productStockFlag = 1
            </if>
            <if test="product.productImgName != null">
                AND productImgName = #{product.productImgName}
            </if>
            <if test="product.productTypeId != null">
                AND productTypeId = #{product.productTypeId}
            </if>
    </select>

    <select id="findProductByProductId" resultMap="baseMap">
        SELECT productId, productTypeId, productName, productAttributeTypeId, productPrice, productStockFlag, productStock, productSalesVolume, productIsShow, productImgName, productInfo, productGrade, isDelete, createDateTime, updateDateTime
        from V_Product
        where
          productId = #{productId}
    </select>

    <select id="findProductByProductName" resultMap="baseMap">
        SELECT productId, productTypeId, productName, productAttributeTypeId, productPrice, productStockFlag, productStock, productSalesVolume, productIsShow, productImgName, productInfo, productGrade, isDelete, createDateTime, updateDateTime
        from V_Product
        where
            productName = #{productName}
    </select>


    <insert id="insertProduct" >
        INSERT V_Product(productName, productTypeId, productAttributeTypeId, productPrice, productStockFlag, productStock, productSalesVolume, productIsShow, productInfo, productGrade, isDelete, productImgName)
        VALUES(#{product.productName}, #{product.productTypeId}, #{product.productAttributeTypeId}, #{product.productPrice}, #{product.productStockFlag}, #{product.productStock}, 0, #{product.productIsShow}, #{product.productInfo}, 100, 0, #{product.productImgName})
    </insert>

    <update id="updateProduct">
        update V_Product
        set productId = #{product.productId}
        <if test="product.productName != null">
            , productName = #{product.productName}
        </if>
        <if test="product.productTypeId != null">
            , productTypeId = #{product.productTypeId}
        </if>
        <if test="product.productAttributeTypeId != null">
            , productAttributeTypeId = #{product.productAttributeTypeId}
        </if>
        <if test="product.productPrice != null">
            , productPrice = #{product.productPrice}
        </if>
        <if test="product.productStock != null">
            , productStock = #{product.productStock}
        </if>
        <if test="product.productStockFlag != null">
            , productStockFlag = #{product.productStockFlag}
        </if>
        <if test="product.productInfo != null">
            , productInfo = #{product.productInfo}
        </if>
        <if test="product.productImgName != null">
            , productImgName = #{product.productImgName}
        </if>
        where productId = #{product.productId}
    </update>

    <delete id="deleteProduct">
        DELETE FROM V_Product WHERE productId = #{productId}
    </delete>

</mapper>