<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldyoung.vita.common.dao.ProductAttributeValueDao">

    <resultMap id="baseMap" type="com.baldyoung.vita.common.pojo.entity.ProductAttributeValueEntity">
        <id property="productAttributeValueId" column="productAttributeValueId"></id>
        <!--非主键字段的对应-->
        <result property="productAttributeTypeId" column="productAttributeTypeId"></result>
        <result property="productAttributeValueName" column="productAttributeValueName"></result>
    </resultMap>

    <select id="selectAll" resultMap="baseMap">
        select productAttributeValueId, productAttributeTypeId, productAttributeValueName
        from V_ProductAttributeValue
    </select>

    <select id="selectByProductAttributeTypeId" resultMap="baseMap">
        select productAttributeValueId, productAttributeTypeId, productAttributeValueName
        from V_ProductAttributeValue
        where
        productAttributeTypeId = #{productAttributeTypeId}
    </select>


</mapper>