<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldyoung.vita.common.dao.ProductSortDao">

    <resultMap id="baseMap" type="com.baldyoung.vita.common.pojo.entity.ProductSortEntity">
        <id property="productSortId" column="productSortId"></id>
        <result property="productId" column="productId"></result>
        <result property="productGrade" column="productGrade"></result>
    </resultMap>
    <sql id="allFiled" >
        productSortId, productId, productGrade
    </sql>


    <select id="selectAll" resultMap="">
        select
        <include refid="allFiled"></include>
        from v_productSort
    </select>

    <delete id="deleteAll">
        delete from v_productSort
    </delete>

    <insert id="insertList">
        insert v_productSort (productId, productGrade)
        values
        <foreach collection="sortList" item="item" index="index" open="" separator="," close="">
            (#{item.productId}, #{item.productGrade})
        </foreach>
    </insert>

</mapper>